body {
  background-color: #f2f2f2;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
h1 {
  font-style: italic;
}
body p {
  font-size: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px;
  background-color: #227fbd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 400px;
}

form {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

input[type="text"] {
  font-style: italic;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #dbe4ee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0);
  transition: box-shadow 0.3s;
}

input[type="submit"]:hover {
  background-color: #0077ffe9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #fff;
}

ul {
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  color: #ffffff;
  background-color: #3498db89;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
}

.remove-btn {
  background-color: #0b77be;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.remove-btn:hover {
  background-color: #ff6961;
  border: 1px solid #ff6961;
}

@media screen and (max-width: 500px) {
  body {
    max-width: 100vh;
  }

  .container {
    max-width: 100%;
  }

  form {
    flex-direction: column;
  }

  #input-el {
    width: 70%;
  }
}
